<div class="jumbo" style="padding-top: 5%!important;">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="title">We’re changing  <br> the way Kenyan education is done</h1>
            <p>FVCA is the school of tomorrow, where traditional values of yesterday blend with the technology of tomorrow in an environment where Biblical values are the center for every instruction, knowledge and skills training, thereby producing well rounded young people.</p>
        </div>
        <div class="col-sm-4"></div>
        <div class="row" style="margin-top: 4%;">
            <div class="col-sm-4">
                <div class="motto">
                    <h5 class="title">Motto</h5>
                    <small style="letter-spacing: 1px;">To Know Christ and to make Him known – Phil.3:10</small>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="motto">
                    <h5 class="title">Mission</h5>
                    <small style="letter-spacing: 1px;">Training and guiding young people in life skills by applying Biblical principles using an innovative curriculum in an environment where Godly role models impact their lives</small>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="motto">
                    <h5 class="title">Vision</h5>
                    <small style="letter-spacing: 1px;">To be the model Christian School offering an excellent Biblical individualized education that maximizes each learner’s potential in a safe environment to produce leaders with Godly character who are passionate to transform their societies.</small>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="jumbo row" style="background-color: var(--light);">
    <div class="col-sm-8">
        <h1 class="title">Meet the <br> team behind FVCA</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis officia, soluta sequi magnam quidem quibusdam provident at obcaecati ut, quas atque quaerat cum et quisquam unde? Quaerat eaque a velit.</p>
    </div>
    <div class="col-sm-4"></div>
</div>
<div class="aboutbanner"></div>
<div class="jumbo row">
    <div class="col-sm-8">
        <h1 class="title">Explore <br> our history</h1>
        <p>From humble beginnings back in 2001, FVCA's 12 pioneer students started learning inside a corrugated iron sheet classroom that had been restored from what once used to be a store. With time, FVCA has continued to grow, receiving student enrollment from diverse nationalities backgrounds.</p>
    </div>
    <div class="col-sm-4"></div>
</div>
<div class="jumbo row" style="padding-top: 0%;">
    <div class="col-sm-4"></div>
    <div class="col-sm-8">
        <p>The school's infrastructure has considerable expanded to cater for the growing demand of students.

            From its inception, the school has played a key role as a model for other schools that have started in the country using the ACE curriculum.
            We hope to not only continue doing this, but also to be the trend setter in the wider East African region.</p>
    </div>
</div>