<div class="jumbo" style="padding-top: 5%;">
  <div class="row">
    <div class="col-sm-7">
      <h1 class="title" style="font-size: 2.8em; color: black!important;">Welcome to our<br> admission process overview!</h1>

    </div>
    <div class="col-sm-5">
      <a href="" class="btn btn-custom btn-bg shadow-0 vertcent">Download application form</a>
    </div>
  </div>
    <div class="row">
        <div class="col-sm-8">
            <p class="motto">After receiving an enquiry for admission the following procedure is followed:</p>
            <ul>
              <li><small>Download The Application form or get from the school.</small></li>
              <li><small>Submit your application through our email, admissions@faithventures.sc.ke or at our school reception.</small></li>
              <li><small>The school office will email for an interview (both parents and pupil) with the School Principal.</small></li>
              <li><small>Parents will be notified of acceptance via email.</small></li>
           
          </ul>
          </div>
        <div class="col-sm-4"></div>
    </div> 
    <div style="margin-top: 5%;">
      <p>If you have any questions, please do not hesitate to email (admissions@faithventures.sc.ke) or call (0735-190-198). You are also welcome to make an appointment with the Admissions Office to discuss any questions you may have or to take a tour of the school. We’d be delighted to speak with you further and help you with your application process.</p>
    </div>
</div>
<div class="jumbo" style="background-color: var(--light);"> 
    <div class="row">
        <div class="col-sm-12">
          <h1 class="title" style="font-size: 2.8em; color: black!important;">Fee <br> Structure</h1>

            <p>Effective from September 2020 – 2021</p>
            <div class="table-responsive" style="margin-top: 5%;">
              <table class="table table-res table-bordered">
                  <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col"> <p>Reception</p> <small>(2 - 3 Years)</small> </th>
                      <th scope="col"><p>Pre-school</p><small>(4 Years)</small></th>  
                      <th scope="col"><p>ABC</p><small>(5 Years)</small></th>  
                      <th scope="col"> <p>Grade</p> <small>(1 - 3 Years)</small> </th>
                      <th scope="col"> <p>Grade</p> <small>(4 - 6 Years)</small> </th>
                      
                      <th scope="col"> <p>Grade</p> <small>(7 - 9 Years)</small> </th>
                      
                      <th scope="col"> <p>Grade</p> <small>(10 - 11 Years)</small> </th>
                      
                      <th scope="col"> <p>Grade</p> <small>(12 Years)</small> </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Curriculum materials</th>
                      <td>2,530.00</td>
                      <td>8,855.00</td>
                      <td>15,180.00 </td>
                      
                      <td>16,445.00</td>
                      <td>17,710.00 </td>
                      
                      <td>18,975.00</td>
                      <td>20,240.00 </td>
                      <td>20,240.00</td>
                    </tr>
                    <tr>
                      <th scope="row">Lunch</th>
                      <td>8,855.00</td>
                      <td>8,855.00</td>
                      <td>8,855.00</td>
                      
                      <td>10,271.80 </td>
                      <td>10,271.80  </td>
                      
                      <td>11,739.20</td>
                      <td>11,739.20</td>
                      <td>11,739.20</td>
                    </tr>
                    <tr>
                      <th scope="row">Tuition</th>
                      <td>41,745.00</td>
                      <td>41,745.00</td>
                      <td>41,745.00</td>
                      
                      <td>55,660.00</td>
                      <td>61,985.00</td>
                      
                      <td>69,575.00</td>
                      <td>75,900.00</td>
                      <td>83,490.00</td>
                    </tr>
                    <tr>
                      <th scope="row">Total</th>
                      <td>60,467.00</td>
                      <td>66,792.00</td>
                      <td>73,117.00 </td>
                      
                      <td>91,231.80</td>
                      <td>98,821.80 </td>
                      
                      <td>110,561.00</td>
                      <td>118,151.00</td>
                      <td>125,741.00</td>
                    </tr>
                  </tbody>
              </table> 
            </div>
            <p class="title" style="margin-top: 5%;">* Tuition fees include: Music, Computer Studies, French Art, Swimming/Sports, Kiswahili and Kenyan Social Studies</p>
            <div class="table-responsive" style="margin-top: 5%;">
              <table class="table table-res table-bordered">
                  <thead>
                    <tr>
                      <th scope="col"><h3 class="title">Electives</h3></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><h5 class="title">ABRSM Music</h5></td>
                      <td>Ksh 10,000.00 + Exam fee where applicable</td>
                    </tr>
                    <tr>
                      <td><h5 class="title">ICDL</h5></td>
                      <td>Ksh 30,000.00</td>
                    </tr>
                    <tr>
                      <td><h5 class="title">ICCE Registration</h5></td>
                      <td>Ksh 30,000.00</td>
                    </tr>
                    <tr>
                      <td><h5 class="title">Transport</h5></td>
                      <td>Depends on route (25 - 35 (2-way</td>
                    </tr>
                  </tbody>
              </table> 
            </div>
        </div>
    </div>    
</div>