<!-- Background image -->
<div
class="p-5 text-center bg-image homebanner"
>
<div class="mask " style="background-color: rgba(0, 0, 0, 0.5); ">
  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="homepagemain vertcent" style="text-align: left; margin-top: 10%;color: white;">
            <small class="title"  >The model Christian School offering an excellent Biblical individualized education<br> <span style="color: var(--medium);">Est 2001</span> </small>
            
        </div>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-5">
        <div class="homepagemain vertcent" style="text-align: left; margin-top: 10%;color: white;">
            <h1 class="title" style="font-size: 43px;">Education from a Christian Perspective</h1>
            <p><small style="letter-spacing: 1px;">We are the school of tomorrow, where traditional values of yesterday blend with the technology of tomorrow in an environment where Biblical values are the center for every instruction, knowledge and skills training.</small>
            </p>
            <a class="btn btn-custom btn-sm" [routerLink]="['/ace']" role="button"
              ><small>Why we are different</small></a>
        </div>
      </div>
      <div class="col-sm-1"></div>
  </div>
</div>
</div>
<!-- Background image -->

<div class="row padding" >
    <div class="col-sm-4">
        <h1 class="title welcome">A warm welcome</h1>
    </div>
    <div class="col-sm-8">We are a unique, coeducational, christian school offering quality education for early learning, primary and highschool students with a Biblical emphasis guided by the <a [routerLink]="['/ace']" style="text-decoration: underline;">A.C.E (Accelerated Christian Education) curriculum</a> </div>
</div>
<div class="events">
  <h1 class="title" style="font-size: 2.8em; color: black!important;">Our students are having an <br> awesome time!</h1>
  <p>Every day at FVCA is full of amazing learning and life <br> experiences. But don't take our word for it—have a look.</p>
  <div class="row" style="margin-top: 7%;">
      <div class="col-sm-4">
        <div class="wrapper">
          <div class="box vintage">
            <img class="awesomeimages" src="./../../../assets/new1.jpg" alt="Success">
            <h2 class="title">May 2020 math contest</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.  </p>
            
          </div>
        </div>    
      </div>
      <div class="col-sm-4">
        <div class="wrapper">
          <div class="box vintage">
            <img src="./../../../assets/new2.jpg" alt="gradution">
            <h2>April 2021 Graduation</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
          </div>
        </div> 
      </div>
      <div class="col-sm-4">
        <div class="wrapper">
          <div class="box vintage">
            <img src="./../../../assets/new3.jpg" alt="Ace curriculum">
            <h2>Scouts society annual show</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
          </div>
        </div> 
      </div>
  </div>

</div>
<div class="row padding message" >
    <p class="title" style="letter-spacing: 1px; text-transform: uppercase;">Message from the principal</p>
    <p style="padding-left: 10%;padding-right: 10%;"><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, sed. Hic itaque obcaecati soluta ad omnis, reprehenderit, placeat eligendi quae maiores dolor est ab aliquid. Ipsam libero magnam cumque quam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit distinctio eum deserunt, quis qui incidunt, facere veniam iste doloremque aperiam similique adipisci saepe, odio ad reiciendis neque ipsum.</small></p>
    <p ><small >We look forward to meeting you </small></p>
    <div style="margin-top:1%;">
        <img src="./../../../assets/Daco_4981089.png" height="100em" alt="">
        <h3 class="title">Jane Doe</h3>
        <p>BA, MA, MBA</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <div class="vertcent padding " >
            <h3 class="explhst" >Explore our <br> <span class="title" style="font-size: 2em;">History</span> </h3>
            <p><small>Faith Ventures Christian Academy (FVCA), which falls under the umbrella of Trinity Fellowship, began in the year 2001 as the first school in Kenya to use the Accelerated Christian Education (ACE) curriculum.</small></p>
            <a [routerLink]="['/about']" routerLinkActive="router-link-active"  class="btn btn-custom btn-sm shadow-0">Learn more</a>
        </div>
    </div>
    <div class="col-sm-7 history"></div>
</div>
<div class="row">
    <div class="col-sm-5 dates"></div>
    <div class="col-sm-7">
        <div class="vertcent padding">
            <h3 >Download <br> <span class="title" style="font-size: 2em;">Term dates</span> </h3>
            <p><small>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo blanditiis amet pariatur inventore illum. Corrupti tempore fuga nulla quos reprehenderit quaerat ad. Aspernatur ducimus aliquid debitis. Sint vel explicabo eius.</small></p>
            <a href="" class="btn btn-custom btn-sm shadow-0">Download</a>
        </div>
    </div>
</div>

<div class="ace">
  <h1 class="title">Learn about our unique curriculum</h1>
  <a [routerLink]="['/ace']" routerLinkActive="router-link-active"  class="btn btn-md btn-custom1 shadow-0" style="margin-top: 2%;"><small class="title">Explore the curriculum</small></a>
</div>
